<a href="/" class="heading">Student List</a>


<form action="/addStudent" method="POST">

    <div class="outer-div">
        <label class="label">First name</label>
        <input type="text" name="firstName" />
    </div>


    <div class="outer-div">
        <label class="label">Last Name</label>
        <input type="text" name="lastName" />
    </div>

    <div class="outer-div">
        <label class="label">Age</label>
        <input type="text" name="age" />
    </div>

    <div class="outer-div">
        <label>Section</label>
        <input type="text" name="section" />
    </div>

    <div class="outer-div">
        <label class="label">Grade</label>
        <input type="text" name="grade" />
    </div>
    <div class="outer-div">

        <input type="submit" value="Add Student" />
    </div>
</form>